@font-face {
    font-family: 'Fuggles';
    font-style: normal;
    font-weight: normal;
    src: url(../Assets/Fonts/Fuggles-Regular.woff2) format('woff2');
}


.div-app{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-app img{
    width: 300px;
}

.div-app h1{
    font-family: 'Fuggles', serif;
    color: seashell;
}
